.cart {
  background: $neutral-light;
  padding: 16px;
  width: 100%;
  max-height: 800px;
  margin-right: 1.5rem;

  .bottom {
        position: absolute;
    left: 5.62%;
    right: 1.5%;
    top: 79.95%;
    bottom: 2.93%;
  }

  .remove {
    background: $danger;
    color: white;
  }
}

.purchase {
  width: 100%;
  background: $primary;
  border: none;
}

.info {
  span {
    padding: 5px 8px;
  }
}

