.cart {
  background: $neutral-light;
  padding: 16px;
  width: 100%;
  min-height: 500px;
  max-height: 900px;
  margin-right: 1.5rem;

  // .footer {
  //   position: relative;
  //   top: 73%;
  // }

  .remove {
    background: $danger;
    color: white;
  }
}

.purchase {
  width: 100%;
  background: $primary;
  border: none;
}

.info {

  img {
    max-width: 50px;
  }

  span {
    padding: 5px 8px;
  }
}

